name: Build Lean project

on:
  push:
    branches:
      - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  style_lint:
    name: Lint style
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Don't 'import Mathlib', use precise imports
        if: always()
        run: |
          ! (find SemicircleLaw -name "*.lean" -type f -print0 | xargs -0 grep -E -n '^import Mathlib$')

      - name: Files in SemicircleLaw.Mathlib can't import SemicircleLaw files outside SemicircleLaw.Mathlib
        run: |
          ! (find SemicircleLaw/Mathlib -name "*.lean" -type f -print0 | xargs -0 grep -E -n '^import SemicircleLaw.(?!Mathlib)')

  build:
    name: Build project
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup to free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: false
          haskell: false
          large-packages: false
          docker-images: false
          swap-storage: false

      - name: Checkout project
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags

      - name: Copy README.md to website/index.md
        run: cp README.md website/index.md

      - name: Build and lint the project
        id: build-lean
        uses: leanprover/lean-action@f807b338d95de7813c5c50d018f1c23c9b93b4ec # v1.2.0

      - if: github.ref == 'refs/heads/main'
        name: Upstreaming dashboard
        run: |
          mkdir -p website/_includes
          python3 scripts/upstreaming_dashboard.py

      - if: github.ref == 'refs/heads/main'
        name: File dependencies
        run: |
          sudo apt-get update
          sudo apt install graphviz -y
          ~/.elan/bin/lake exe graph website/file_deps.pdf

      - if: github.ref == 'refs/heads/main'
        name: Build project documentation
        id: build-docgen
        uses: leanprover-community/docgen-action@main
        with:
          blueprint: true
          homepage: website
